---
title: Home
---

{% include introduction.html %}
<div class="project-list">
  {% for project in site.projects reversed %}
  <div class="project-list-item">
    <a href="{{ project.url }}" class="project-list-item-link">
      <div class="project-list-details">
        <img class="project-list-details-img" src="{{ project.thumbnail }}">
        <p class="project-list-details-short-description"><span>{{ project.short_description }}</span></p>
      </div>
      <h3 class="project-list-name">{{ project.name }}</h3>
    </a>
  </div>
  {% endfor %}
</div>
