<div class="projects-intro">
  <h1 class="projects-intro-header">
    Ricky&nbsp;Kuang is a software&nbsp;developer living in Los&nbsp;Angeles,&nbsp;CA.
  </h1>
  <div class="projects-intro-links">
    <ul class="projects-intro-links-social-media">
      <li>
        <a href="https://github.com/rkuang" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/rickykuang" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="mailto:rkuang26@gmail.com" rel="noopener noreferrer">
          <i class="fas fa-paper-plane"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
