.about {
  display: flex;
  flex-direction: column;
}

.resume {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-between;
  column-gap: 16px;
  row-gap: 16px;
  height: 450px;

  .resume-card {
    border-top: 2px solid $color-text-sunken;
    padding-left: 8px;
    width: 33%;
    margin: 0;
    .resume-card-header {
      font-family: 'DM Serif Display', serif;
      font-size: 2.5rem;
      margin-bottom: 16px;
    }

    .resume-card-item {
      margin-bottom: 16px;
      p {
        margin: 0;
      }
      .timeframe {
        // text-transform: uppercase;
        font-size: 0.9rem;
      }
      .resume-card-item-detail {
        color: $color-text-sunken;
      }
    }

    .resume-card-detail {
      margin-bottom: 16px;
      p {
        margin: 0;
      }
    }
  }
}

.about-site {
  width: 50%;
  .about-site-header {
    font-family: "DM Serif Display", serif;
    font-size: 2.5rem;
    border-top: 2px solid $color-text-sunken;
    margin-bottom: 16px;
  }
}

.dashed-list {
  list-style-type: none;
  li {
    margin-left: 16px;
    &::before {
      position: absolute;
      margin-left: -16px;
      content: '-';
      color: $color-text-sunken;
    }
  }
}
