$profile-img-min-width-large: 324px;
$profile-img-min-width-medium: 280px;

.about {
  display: flex;
  flex-direction: column;
  width: 100%
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 32px;
  justify-content: space-between;

  .profile-text {
    flex: 5 1 0;
    p {
      margin-bottom: 2rem;
    }
  }

  .gap {
    height: 32px;
    width: 32px;
  }

  .profile-img {
    flex: 2 1 0;
    img {
      height: auto;
      width: 100%;
      min-width: $profile-img-min-width-large;
    }
  }
}

@media (max-width: $screen-large) {
  .profile {
    .profile-text {
      flex: 5 1 0;
    }
    .profile-img {
      flex: 3 1 0;
      img {
        min-width: $profile-img-min-width-medium;
      }
    }
  }
}

@media (max-width: $screen-medium) {
  .profile {
    flex-direction: column-reverse;
    align-items: center;
    .profile-img {
      img {
        max-width: $profile-img-min-width-large;
      }
    }
  }
}

.resume {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 32px;

  .resume-card {
    border-top: 2px solid $color-text-sunken;
    padding-left: 8px;
    margin: 0;
    .resume-card-header {
      font-family: 'DM Serif Display', serif;
      font-size: 2.5rem;
      margin-bottom: 16px;
    }

    .resume-card-item {
      margin-bottom: 16px;
      p {
        margin: 0;
      }
      .timeframe {
        // text-transform: uppercase;
        font-size: 0.9rem;
      }
      .resume-card-item-detail {
        color: $color-text-sunken;
      }
    }

    .resume-card-detail {
      margin-bottom: 16px;
      p {
        margin: 0;
      }
    }
  }
}

@media (max-width: $screen-large) {
  .resume {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: $screen-medium) {
  .resume {
    grid-template-columns: repeat(1, 1fr);
  }
}

.about-site {
  width: 50%;
  border-top: 2px solid $color-text-sunken;
  .about-site-inner {
    padding-left: 8px;
    .about-site-header {
      font-family: "DM Serif Display", serif;
      font-size: 2.5rem;
      margin-bottom: 16px;
    }
  }
}

@media (max-width: $screen-large) {
  .about-site {
    width: 100%;
  }
}

.dashed-list {
  list-style-type: none;
  li {
    margin-left: 16px;
    &::before {
      position: absolute;
      margin-left: -16px;
      content: '-';
      color: $color-text-sunken;
    }
  }
}
