.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .contact-header {
    font-family: 'DM Serif Display', serif;
    font-size: 3em;
  }

  .contact-form {
    width: 540px;

    .contact-form-button {
      font-size: 0.85rem;
      color: $color-text;
      border-color: $color-text;
      &:hover {
        color: $color-text-sunken;
        border-color: $color-text-sunken;
      }
    }
  }
}


label {
  > input, > textarea {
    width: 100%
  }
}
