// https://coolors.co/fffbeb-ffe270-ffda47-ffcc00-2b2f31
$color-background: #2b2f31;
$color-background-rgb: 43, 47, 49;
$color-primary: #fffbeb;
$color-primary-rgb: 255, 251, 235;
$color-secondary: #ffda47;
$color-secondary-rgb: 255, 218, 71;
$color-tertiary: #ffe270;
$color-tertiary-rgb: (255, 226, 112);
$color-action: #ffcc00;
$color-action-rgb: 255, 204, 0;
$color-text: RGBA($color-primary-rgb, .95);
$padding-nav-links: 32px;
// $gutter: 48px;

::selection {
  background: RGBA($color-tertiary-rgb, 0.3);
}

html, body {
  height: 100%;
  margin: 0;
}

html {
  background-color: $color-background;
  font-size: 16px;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.125em;
  color: $color-text;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  a {
    color: $color-action;
    text-decoration: none;
    border-bottom: 1px dashed transparent;
    padding-bottom: 0.02em;
    transition: border-bottom-color .2s ease-in-out;

    &:hover {
      border-bottom-color: $color-action;
    }
  }
}

footer {
  flex-shrink: 0;
}

.projects-intro {
  margin: 48px 0 128px 0;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: $color-primary;
  font-size: 3.5rem;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.projects {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  row-gap: 32px;
  column-gap: 32px;
  justify-content: center;
  .project {
    background-color: $color-tertiary;
    width: 300px;
    height: 248px;
  }
}

.container {
  max-width: 1040px;
}
