$navbar-height: 100px;
$navbar-brand-size: 48px;

.navbar {
  font-family: "DM Sans", sans-serif;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: $navbar-height;
  font-size: 1.25rem;

  .navbar-brand {
    height: $navbar-brand-size;
    width: $navbar-brand-size;
    stroke: $color-primary;
    fill: $color-primary;
    padding-bottom: 0;
    // opacity: 1 !important;

    &:hover {
      border-bottom-color: transparent;
    }
  }

  .navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    .navbar-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin: 0;
    }
    #navbar-menu {
      display: none;
    }
    
    li {
      list-style: none;
      padding-left: 32px;
      margin: 0;
    }
  }

  a {
    margin: 0;
    color: $color-text;
    text-decoration: none;
    opacity: 0.8;
    border-bottom: 1px solid transparent;
    padding-bottom: 4px;
    transition: opacity .2s ease-in-out, border-bottom-color .2s ease-in-out;

    &.current, &:hover {
      opacity: 1;
      border-bottom-color: $color-tertiary;
    }
  }
}

@media (max-width: $screen-medium) {
  .navbar {
    .navbar-brand {
      z-index: 2;
    }
    .navbar-right {
      .navbar-links {
        transition: transform 0.3s ease-in-out;
        position: absolute;
        padding-top: $navbar-height;
        top: -328px;
        left: -5%;
        width: 100vw;
        z-index: 1;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        
        background-color: black;
        font-size: 1.75rem;
        padding-bottom: 32px;
        li {
          padding: 0 32px;
          a {
            display: block;
            width: 100%;
            &.current, &:hover {
              opacity: 1;
            }
          }
        }
        &.active {
          transform: translateY(328px);
        }
      }
      #navbar-menu {
        display: block;
        z-index: 2;
        .active {
          opacity: 1;
          border-bottom-color: $color-tertiary;
        }
      }
    }
  }
}
