$navbar-brand-size: 48px;

.navbar {
  font-family: "DM Sans", sans-serif;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 1.25rem;
  }

  .navbar-brand {
    height: $navbar-brand-size;
    width: $navbar-brand-size;
    stroke: $color-primary;
    fill: $color-primary;
    padding-bottom: 0;
    // opacity: 1 !important;

    &:hover {
      border-bottom-color: transparent;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;

    li {
      list-style: none;
      padding-left: 32px;
      margin: 0;
    }
  }

  a {
    margin: 0;
    color: $color-text;
    text-decoration: none;
    opacity: 0.8;
    border-bottom: 1px solid transparent;
    padding-bottom: 4px;
    transition: opacity .2s ease-in-out, border-bottom-color .2s ease-in-out;

    &.current, &:hover {
      opacity: 1;
      border-bottom-color: $color-tertiary;
    }
  }

  // &.container {
  //   max-width: 1120px;
  // }
}
