.blog-list {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.blog-item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p, h2 {
    margin: 0;
  }

  h2 {
    font-family: "DM Serif Text", serif;
    font-size: 2rem;
  }

  p {
    font-size: .7rem;
  }
}
