// https://coolors.co/fffbeb-ffe270-ffda47-ffcc00-2b2f31
:root {
  --color-background: #2b2f31;
  --color-background-rgb: 43, 47, 49;
  --color-primary: #fffbeb;
  --color-primary-rgb: 255, 251, 235;
  --color-secondary: #ffda47;
  --color-secondary-rgb: 255, 218, 71;
  --color-tertiary: #ffe270;
  --color-tertiary-rgb: 255, 226, 112;
  --color-action: #ffcc00;
  --color-action-rgb: 255, 204, 0;
  --color-text: rgba(var(--color-primary-rgb), .95);
  --padding-nav-links: 32px;
  --gutter: 48px;
}

::selection {
  background: rgba(var(--color-tertiary-rgb), 0.3);
}

html {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  color: var(--color-text);
  margin: 0 var(--gutter);
}

.navbar-brand {
  width: 56px;
  stroke: var(--color-primary);
  fill: var(--color-primary);
  opacity: 1 !important;
}

.navbar > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    height: 56px;
    li {
      list-style: none;
      padding-left: 32px;
    }
  }
  a {
    color: var(--color-text);
    text-decoration: none;
    opacity: 0.8;
    border-bottom: 1px solid transparent;
    padding-bottom: 0.02em;
    transition: all .2s ease-in-out;

    &.current, &:hover {
      opacity: 1;
      border-bottom-color: var(--color-tertiary);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    color: var(--color-action);
    text-decoration: none;
    border-bottom: 1px dashed transparent;
    padding-bottom: 0.02em;
    transition: all .2s ease-in-out;

    &:hover {
      border-bottom-color: var(--color-action);
    }
  }
}

.projects-intro {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  width: 900px;
}
