html, body {
  font-family: 'Open Sans', sans-serif;
  background-color: #1d242a;
}

body {
  background-image: url("../../images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: white;
  transition: 2s opacity;
  opacity: 0;
}

.load {
  opacity: 1!important;
}

.navbar {
  width: 100%;
  position: fixed;
  padding: 10px!important;
  font-weight: 800;
  z-index: 1;
}

  .navbar-brand {
    margin-left: 10px;
    font-size: 0.9em;
    transition: opacity 0.5s, color 0.3s;
  }

  #navbar-items {
    margin-left: 15px;
    font-size: 0.7em;
  }

  .navbar-dark .navbar-nav .nav-link {
    transition: color 0.3s;
  }

  .bg-dark {
    background-color: #1d242a!important
  }

  .navbar-dark .navbar-brand {
    color: rgba(255, 255, 255, 0.5);
  }

  .navbar-dark .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.85);
  }

  .navbar-dark .navbar-toggler {
    border: none;
  }


#header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  justify-content: center;
  background-color: rgba(38, 51, 51, 0.35);
}

  #header .header-inner {
    position: relative;
  }

    #header .header-inner h1 {
      font-weight: 800;
      font-size: 1.5em;
      letter-spacing: 0.5em;
      display: inline-block;
      border: 2px;
      border-style: solid none solid none;
      padding: 20px;
      padding-left: 35px;
      margin-bottom: 28px
    }

    #header .header-inner p {
      margin-bottom: 1.8em;
      line-height: 2;
    }

    #header .header-inner .btn {
      padding: 8px 30px;
      text-transform: uppercase;
      font-size: 0.9em;
      letter-spacing: 0.225em;
      background-color: rgb(255, 61, 61);
      margin-bottom: 4.2em;
    }

  #header #learn_more {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 10em;
    margin-left: -5em;
    font-size: 0.85em;
    line-height: 2.5em;
  }

  #header a .learn_more {
    color: white;
  }

    #header a:hover {
      transition: font-size .4s;
      text-decoration: none;
      font-size: 1.05em;
    }

  #header .learn_more i {
    font-size: 2em;
  }

#about {
  display: flex;
  flex-direction: column;
  background-color: #505393;
  padding: 5%;
  width: 100%;
  font-size: .8em;
}

  #about .avatar {
    border-style: none none solid none;
    border-width: 2px;
    border-color: rgba(0,0,0, .125);
    padding-bottom: 5%;
  }

    #about .avatar img {
      display: block;
      width: 200px;
      margin: 0 auto;
      border-radius: 50%;
    }

  #about .summary {
    padding: 2.5%;
  }

    #about .summary h1 {
      font-size: 1.60em;
      font-weight: 800;
      line-height: 2.2em;
      text-align: center;
    }

    #about .summary p {
      color: rgba(255, 255, 255, 0.90);
      text-transform: none;
      line-height: 1.8em;
      margin-bottom: 0;
    }

#footer {
  padding: 7% 0 5% 0;
  background-color: rgba(38, 51, 51, 0.7);
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  line-height: 3em;
}

  #footer .icons {
    font-size: 1.25em;
  }

    #footer .icons a {
      color: rgba(255, 255, 255, 0.5);
      transition: .7s color, .7s font-size;
    }

      #footer .icons a:hover {
        color: white;
        font-size: 1.05em;
      }

.icons {
  padding-left: 0px;
}

  .icons li {
    display: inline;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.50em;
  }

    .icons li a:hover {
      text-decoration: none;
    }

@media (min-width: 500px) {
  #about {
    font-size: .9em;
  }
}

@media (min-width: 768px) {
  nav {
    transition: 0.7s all;
  }

  .bg-dark {
    background-color: transparent!important;
  }
  
  #header .header-inner h1 {
    font-size: 2em;
  }

  #about {
    font-size: 1em;
  }

  .changeColor {
    background-color: #1d242a!important;
  }
}

@media (min-width: 1280px) {
  #about {
    flex-direction: row;
    justify-content: space-around;
    padding: 3% 8%;
  }
  
    #about .avatar {
      border-style: none solid none none;
      padding: 5%;
      margin: auto 0;
    }
  
      #about .avatar img {
        width: 250px;
      }
  
    #about .summary {
      display: block;
      padding: 5%;
      margin: auto 0;
    }
  
      #about .summary h1 {
        text-align: left;
      }
  
      #about .summary p {
        text-transform: none;
      }
}
