html, body {
  height: 100%;
  font-family: 'Lobster', sans-serif;
}

.navbar-brand {
  font-size: 1.75em;
}

.navbar-nav {
  font-size: 1.25em;
}

.header {
  background-image: url("https://static1.squarespace.com/static/52a74d9ae4b0253945d2aee9/t/52ed5bf5e4b0f13d0d3693d7/1391287287792/%22%20data-image=%22https://static1.squarespace.com/static/52a74d9ae4b0253945d2aee9/t/52ed5bf5e4b0f13d0d3693d7/1391287287792/%22%20data-image-dimensions=%221280x853%22%20data-image-focal-point=%220.5,0.5%22%20data-position-mode=%22standard%22%20data-parent-ratio=%222.1%22%20alt=%22Transient%22%20class=%22%22%20src=%22https://static1.squarespace.com/static/52a74d9ae4b0253945d2aee9/t/52ed5bf5e4b0f13d0d3693d7/1391287287792/?format=2500w");
  background-position: center;
  background-size: cover;
  margin-top: -68px;
  height: 100%;
}

.header .header-text {
  padding-top: 30%;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  height: 100%;
}

@media (min-width: 768px) {
  .bg-dark {
    background-color: transparent!important;
  }
}
