<!doctype html>
<html lang="en">
  <head>
    <meta charset="utl-8">
    <title>
      {% if page.url == '/' %}
        Ricky Kuang - Software Engineer
      {% else %}
        {{ page.title }} | Ricky Kuang
      {% endif %}
    </title>
    <meta name="description" content="Ricky Kuang is a software engineer living in Los Angeles, CA">
    <meta name="author" content="Ricky Kuang">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Text&family=DM+Serif+Display&display=swap">

    <link rel="stylesheet" href="/assets/css/styles.css">

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="alternate icon" href="/favicon.ico">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff8a01">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include navigation.html %}
    <div class="content container">
      {{ content }}
    </div>
    <footer class="footer container">
      &copy; Ricky Kuang
    </footer>
    
    <!-- 
      Work around for Chrome CSS transition bug
      https://stackoverflow.com/questions/14389566/stop-css-transition-from-firing-on-page-load
    -->
    <script> </script>
  </body>
</html>
