<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,800">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Ricky Kuang</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark px-4">
      <a class="navbar-brand" href="#">Ricky Kuang</a>
      <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-items" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fas fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-items">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="#">About</a>
          <a class="nav-item nav-link" href="#">Portfolio</a>
          <a class="nav-item nav-link" href="#">Contact</a>
        </div>
      </div> -->
    </nav>

    <div id="header">
      <div class="header-inner">
        <h1>Ricky Kuang</h1>
        <p>Hello, World!<br />
        Welcome to my website!</p>
        <a class="btn btn-danger" href="{{ url_for('static', filename='rkuang-resume.pdf') }}" download="rkuang-resume.pdf">
          <span class="fas fa-cloud-download-alt"></span>
          Resume
        </a>
      </div>
      <div class="learn_more">
        <a href=#about>Learn More<br />
        <i class="fas fa-angle-down"></i>
        </a>
      </div>
    </div>

    <div id="about">
      <div class="avatar">
        <img src="{{ url_for('static', filename='avatar.jpg') }}"/>
      </div>
      <div class="summary">
        <h4>summary</h4>
      </div>
    </div>

    <footer id="footer">
      <ul class="icons">
        <li><a href="https://github.com/rkuang/" class="fab fa-github"></a></li>
        <li><a href="https://www.linkedin.com/in/ricky-kuang/" class="fab fa-linkedin"></a></li>
        <li><a href="mailto:rkuang26@gmail.com" class="fas fa-envelope"></a></li>
      </ul>
      <br />
      Ricky Kuang
    </footer>

    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
